/*
File: improver-styles.css
Zachary Muranaka
Styles unique to the password improver (improver.html)
*/

/* Input styles */

#oldPassword {
    margin: 3vh 0;
    padding: .375rem 0;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    appearance: none;
    border-radius: .25rem;
}

input[type=text] {
    padding: 1vh 0;
    background: none;
    text-align: center;
}

input[type=text], #improvedPassword {
    color: gray;
    font-size: 3vh;
}
