/*
File: styles.css
Zachary Muranaka
Styles shared between both the password generator (index.html) and the password improver (improver.html)
*/

/* Structural styles */

body {
    min-width: 320px; /* Narrowest screen in common use */
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-wrap: break-word; /* Makes it so very long passwords do not overflow the screen */
    text-align: center;
}

main {
    width: 95%;
    margin: 0 2.5%;
    padding: 0;
}

main *, footer { width: 100% }

h1 { font-size: 5vh }

p {
    margin: 5vh auto;
    font-size: 3vh;
}

/* Input styles */

input[type=button] {
    height: 8vh;
    font-weight: 400;
    line-height: 1.5;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem;
    border-radius: .25rem;
    background: green;
    cursor: pointer;
    color: white;
    font-size: 4vh;
}

input[type=button]:hover { background: rgb(32, 168, 0) }

input[type=button]:active {
    background: yellowgreen;
    color: darkgreen;
}

#password { color: gray }

/* Footer and nav styles */

nav, footer { position: absolute }

nav {
    top: 0;
    right: 0;
}

footer {
    bottom: 0;
    padding-top: 1em;
    background: linear-gradient(rgb(0, 0, 204), midnightblue);
    color: white;
    font-size: 0.8em;
    font-variant: small-caps;
}

footer a {
    display: inline-block;
    margin: 1em 1em 1em 0;
    color: white;
    text-decoration: none;
}

/* Hide footer for small screen sizes */
@media screen and (max-height: 428px), screen and (max-aspect-ratio: 9/16) {
    footer { display: none }
}
